*{
    text-align: center;
}

#main{
    background-color: black; font-family:Georgia, 'Times New Roman', Times, serif; font-size: 800%; text-decoration-style:solid; color: gold; font-weight: 800;
}


a:hover{
    background-color: black; color: rgb(246, 20, 20);
}

#link{
    font-size: 200%; border-block: 5px solid red; background-color: gold;
}

#q{
    color:crimson; font-size: 200%; border-block: 5px solid red; background-color: #ffda05; 
}
#welcome{
    color: crimson; font-size: 300%; border-block: 5px solid red; 
}

#box{

    width: 500px;
    border: 10px solid red;
    padding: 10px;
    margin-left:35%;
    background-color:orange;
}
#tbox{
    background-image: url("food1.jpg"); block-size: 200%; background-attachment: fixed;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gold;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 8px;
  }


#enlarge{
    font-size: 200%;
}

#large{
    font-size: 150%;
}


